In [343]:
import csv
import sys

csv.field_size_limit(sys.maxsize)

9223372036854775807

# Loading the Files

In [344]:
import pandas as pd

In [345]:
# df1 = pd.read_csv('CEAS_08.csv')
# df2 = pd.read_csv('Nazario.csv')
# df3 = pd.read_csv('Nigerian_Fraud.csv')
# df4 = pd.read_csv('TREC-05.csv', encoding='latin-1', engine="python")
# df5 = pd.read_csv('SpamAssasin.csv')

In [346]:
# df = pd.concat([df1,df2,df3,df4,df5], ignore_index=True)

In [347]:
df = pd.read_csv(r'C:\Users\gis28\Downloads\Me\AIML\Phishing_dataset\main.csv')

# Cleaning the data

In [348]:
df.shape

(105863, 8)

In [349]:
df.columns

Index(['Unnamed: 0', 'sender', 'receiver', 'date', 'subject', 'body', 'label',
       'urls'],
      dtype='object')

In [350]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105863 entries, 0 to 105862
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  105863 non-null  int64
 1   sender      105516 non-null  object
 2   receiver    101540 non-null  object
 3   date        103572 non-null  object
 4   subject     103867 non-null  object
 5   body        105272 non-null  object
 6   label       105135 non-null  float64
 7   urls        105135 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 6.5+ MB

In [351]:
df.describe()

          Unnamed: 0          label           urls
count  105863.000000  105135.000000  105135.000000
mean    52931.000000       0.488924       0.555419
std     30560.160111       0.499880       0.496922
min         0.000000       0.000000       0.000000
25%     26465.500000       0.000000       0.000000
50%     52931.000000       0.000000       1.000000
75%     79396.500000       1.000000       1.000000
max    105862.000000       1.000000       1.000000

In [352]:
df['date'].unique()

array(['Tue, 05 Aug 2008 16:31:02 -0700',
       'Tue, 05 Aug 2008 18:31:03 -0500',
       'Tue, 05 Aug 2008 20:28:00 -1200', ...,
       'Sun, 20 Jul 2003 16:19:44 +0800',
       'Wed, 05 Aug 2020 04:01:50 -1900', 'Wed, 04 Dec 2002 06:07:07'],
      shape=(102006,), dtype=object)

# Handling Date column

In [353]:
df['date_parsed'] = pd.to_datetime(
    df['date'],
    errors = 'coerce',
    utc = True
    )

In [354]:
df[['date', 'date_parsed']].head()

                              date               date_parsed
0  Tue, 05 Aug 2008 16:31:02 -0700 2008-08-05 23:31:02+00:00
1  Tue, 05 Aug 2008 18:31:03 -0500 2008-08-05 23:31:03+00:00
2  Tue, 05 Aug 2008 20:28:00 -1200 2008-08-06 08:28:00+00:00
3  Tue, 05 Aug 2008 17:31:20 -0600 2008-08-05 23:31:20+00:00
4  Tue, 05 Aug 2008 19:31:21 -0400 2008-08-05 23:31:21+00:00

In [355]:
df['date_parsed'].isna().sum()

np.int64(4377)

In [356]:
df['year'] = df['date_parsed'].dt.year
df['month'] = df['date_parsed'].dt.month
df['day'] = df['date_parsed'].dt.day
df['hour'] = df['date_parsed'].dt.hour
df['weekday'] = df['date_parsed'].dt.weekday

In [357]:
df['date_missing'] = df['date_parsed'].isna().astype(int)

for col in ['year','month','day','hour','weekday']:
    df[col] = df[col].fillna(df[col].median()).astype(int)

In [358]:
df['date_missing'].unique()

array([0, 1])

In [359]:
df.columns

Index(['Unnamed: 0', 'sender', 'receiver', 'date', 'subject', 'body', 'label',
       'urls', 'date_parsed', 'year', 'month', 'day', 'hour', 'weekday',
       'date_missing'],
      dtype='object')

In [360]:
df[['year', 'month', 'day', 'hour', 'weekday']].isna().sum()

year       0
month      0
day        0
hour       0
weekday    0
dtype: int64

## Senders column analysis

In [361]:
df['sender'].isnull().sum()

np.int64(347)

In [362]:
df['sender_missing'] = df['sender'].isna().astype(int)

In [363]:
df['sender'] = df['sender'].fillna('unknown_sender')

In [364]:
df['sender'].isna().sum()

np.int64(0)

# Handling Reciever column

In [365]:
df['receiver'].isnull().sum()

np.int64(4323)

In [366]:
df['receiver_missing'] = df['receiver'].isna().astype(int)

In [367]:
df['receiver'] = df['receiver'].fillna('unknown_receiver')

# Handling subject and body

In [368]:
df['subject'].isna().sum()

np.int64(1996)

In [369]:
df['subject'] = df['subject'].fillna('')
df['body'] = df['body'].fillna('')

In [370]:
df['subject'] = df['subject'].str.lower()
df['body'] = df['body'].str.lower()

#### Creating text column

In [371]:
df['sender'] = df['sender'].str.lower()
df['sender_domain'] = df['sender'].str.extract(r'@(.+)$')[0]

In [372]:
df['sender_domain'] = df['sender_domain'].fillna('unknown_domain')

In [373]:
df['text'] = df['subject'] + " " +df['body'] + " " + df['sender_domain']

## #

In [374]:
df.columns

Index(['Unnamed: 0', 'sender', 'receiver', 'date', 'subject', 'body', 'label',
       'urls', 'date_parsed', 'year', 'month', 'day', 'hour', 'weekday',
       'date_missing', 'sender_missing', 'receiver_missing', 'sender_domain',
       'text'],
      dtype='object')

In [375]:
df = df.drop('Unnamed: 0', axis=1)

In [376]:
df.head()

,sender,receiver,date,subject,body,label,urls,date_parsed,year,month,day,hour,weekday,date_missing,sender_missing,receiver_missing,sender_domain,text
0,young esposito <young@iworld.de>,user4@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 16:31:02 -0700",never agree to be a loser,"buck up, your troubles caused by small dimensi...",1.0,1.0,2008-08-05 23:31:02+00:00,2008,8,5,23,1,0,0,0,iworld.de>,"never agree to be a loser buck up, your troubl..."
1,mok <ipline's1983@icable.ph>,user2.2@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 18:31:03 -0500",befriend jenna jameson,\nupgrade your sex and pleasures with these te...,1.0,1.0,2008-08-05 23:31:03+00:00,2008,8,5,23,1,0,0,0,icable.ph>,befriend jenna jameson \nupgrade your sex and ...
2,daily top 10 <karmandeep-opengevl@universalnet...,user2.9@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 20:28:00 -1200",cnn.com daily top 10,>+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...,1.0,1.0,2008-08-06 08:28:00+00:00,2008,8,6,8,2,0,0,0,universalnet.psi.br>,cnn.com daily top 10 >+=+=+=+=+=+=+=+=+=+=+=+=...
3,michael parker <ivqrnai@pobox.com>,SpamAssassin Dev <xrh@spamassassin.apache.org>,"Tue, 05 Aug 2008 17:31:20 -0600",re: svn commit: r619753 - in /spamassassin/tru...,would anyone object to removing .so from this ...,0.0,1.0,2008-08-05 23:31:20+00:00,2008,8,5,23,1,0,0,0,pobox.com>,re: svn commit: r619753 - in /spamassassin/tru...
4,gretchen suggs <externalsep1@loanofficertool.com>,user2.2@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 19:31:21 -0400",specialpricespharmmoreinfo,\nwelcomefastshippingcustomersupport\nhttp://7...,1.0,1.0,2008-08-05 23:31:21+00:00,2008,8,5,23,1,0,0,0,loanofficertool.com>,specialpricespharmmoreinfo \nwelcomefastshippi...

In [377]:
df.describe()

,label,urls,year,month,day,hour,weekday,date_missing,sender_missing,receiver_missing
count,105135.000000,105135.000000,105863.000000,105863.000000,105863.000000,105863.000000,105863.000000,105863.000000,105863.000000,105863.000000
mean,0.488924,0.555419,2003.788538,7.653222,12.650822,12.569113,2.524782,0.041346,0.003278,0.040836
std,0.499880,0.496922,6.586230,2.819935,8.285441,6.787327,1.490692,0.199090,0.057159,0.197911
min,0.000000,0.000000,1898.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2001.000000,8.000000,6.000000,7.000000,2.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,2002.000000,8.000000,8.000000,14.000000,2.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,2008.000000,9.000000,20.000000,18.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,2100.000000,12.000000,31.000000,23.000000,6.000000,1.000000,1.000000,1.000000

In [378]:
df.duplicated().sum()

np.int64(110)

In [379]:
df = df.drop_duplicates(keep='first')

In [380]:
df.duplicated().sum()

np.int64(0)

In [381]:
df.isnull().sum()

sender                 0
receiver               0
date                2197
subject                0
body                   0
label                618
urls                 618
date_parsed         4267
year                   0
month                  0
day                    0
hour                   0
weekday                0
date_missing           0
sender_missing         0
receiver_missing       0
sender_domain          0
text                   0
dtype: int64

In [382]:
df = df.dropna(subset=['label','urls'])

In [383]:
df.isnull().sum()

sender                 0
receiver               0
date                1814
subject                0
body                   0
label                  0
urls                   0
date_parsed         3760
year                   0
month                  0
day                    0
hour                   0
weekday                0
date_missing           0
sender_missing         0
receiver_missing       0
sender_domain          0
text                   0
dtype: int64

In [384]:
df['label'] = df['label'].astype(int)
df['urls'] = df['urls'].astype(int)

In [385]:
df.head()

,sender,receiver,date,subject,body,label,urls,date_parsed,year,month,day,hour,weekday,date_missing,sender_missing,receiver_missing,sender_domain,text
0,young esposito <young@iworld.de>,user4@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 16:31:02 -0700",never agree to be a loser,"buck up, your troubles caused by small dimensi...",1,1,2008-08-05 23:31:02+00:00,2008,8,5,23,1,0,0,0,iworld.de>,"never agree to be a loser buck up, your troubl..."
1,mok <ipline's1983@icable.ph>,user2.2@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 18:31:03 -0500",befriend jenna jameson,\nupgrade your sex and pleasures with these te...,1,1,2008-08-05 23:31:03+00:00,2008,8,5,23,1,0,0,0,icable.ph>,befriend jenna jameson \nupgrade your sex and ...
2,daily top 10 <karmandeep-opengevl@universalnet...,user2.9@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 20:28:00 -1200",cnn.com daily top 10,>+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+...,1,1,2008-08-06 08:28:00+00:00,2008,8,6,8,2,0,0,0,universalnet.psi.br>,cnn.com daily top 10 >+=+=+=+=+=+=+=+=+=+=+=+=...
3,michael parker <ivqrnai@pobox.com>,SpamAssassin Dev <xrh@spamassassin.apache.org>,"Tue, 05 Aug 2008 17:31:20 -0600",re: svn commit: r619753 - in /spamassassin/tru...,would anyone object to removing .so from this ...,0,1,2008-08-05 23:31:20+00:00,2008,8,5,23,1,0,0,0,pobox.com>,re: svn commit: r619753 - in /spamassassin/tru...
4,gretchen suggs <externalsep1@loanofficertool.com>,user2.2@gvc.ceas-challenge.cc,"Tue, 05 Aug 2008 19:31:21 -0400",specialpricespharmmoreinfo,\nwelcomefastshippingcustomersupport\nhttp://7...,1,1,2008-08-05 23:31:21+00:00,2008,8,5,23,1,0,0,0,loanofficertool.com>,specialpricespharmmoreinfo \nwelcomefastshippi...

# Dropping Columns

In [386]:
df.columns

Index(['sender', 'receiver', 'date', 'subject', 'body', 'label', 'urls',
       'date_parsed', 'year', 'month', 'day', 'hour', 'weekday',
       'date_missing', 'sender_missing', 'receiver_missing', 'sender_domain',
       'text'],
      dtype='object')

In [387]:
drop_cols = ['sender', 'receiver', 'date', 'date_parsed', 'subject', 'body']
df = df.drop(columns=drop_cols)

In [388]:
df.columns

Index(['label', 'urls', 'year', 'month', 'day', 'hour', 'weekday',
       'date_missing', 'sender_missing', 'receiver_missing', 'sender_domain',
       'text'],
      dtype='object')