In [5]:
import csv
import sys

csv.field_size_limit(sys.maxsize)

9223372036854775807

# Loading the Files

In [6]:
import pandas as pd

In [7]:
# df1 = pd.read_csv('CEAS_08.csv')
# df2 = pd.read_csv('Nazario.csv')
# df3 = pd.read_csv('Nigerian_Fraud.csv')
# df4 = pd.read_csv('TREC-05.csv', encoding='latin-1', engine="python")
# df5 = pd.read_csv('SpamAssasin.csv')

In [8]:
# df = pd.concat([df1,df2,df3,df4,df5], ignore_index=True)

In [9]:
df = pd.read_csv(r'C:\Users\gis28\Downloads\Me\AIML\Phishing_dataset\main.csv')

# Cleaning the data

In [10]:
df.shape

(105863, 8)

In [11]:
df.columns

Index(['Unnamed: 0', 'sender', 'receiver', 'date', 'subject', 'body', 'label',
       'urls'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105863 entries, 0 to 105862
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  105863 non-null  int64
 1   sender      105516 non-null  object
 2   receiver    101540 non-null  object
 3   date        103572 non-null  object
 4   subject     103867 non-null  object
 5   body        105272 non-null  object
 6   label       105135 non-null  float64
 7   urls        105135 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 6.5+ MB

In [13]:
df.describe()

          Unnamed: 0          label           urls
count  105863.000000  105135.000000  105135.000000
mean    52931.000000       0.488924       0.555419
std     30560.160111       0.499880       0.496922
min         0.000000       0.000000       0.000000
25%     26465.500000       0.000000       0.000000
50%     52931.000000       0.000000       1.000000
75%     79396.500000       1.000000       1.000000
max    105862.000000       1.000000       1.000000

In [14]:
df['date'].unique()

array(['Tue, 05 Aug 2008 16:31:02 -0700',
       'Tue, 05 Aug 2008 18:31:03 -0500',
       'Tue, 05 Aug 2008 20:28:00 -1200', ...,
       'Sun, 20 Jul 2003 16:19:44 +0800',
       'Wed, 05 Aug 2020 04:01:50 -1900', 'Wed, 04 Dec 2002 06:07:07'],
      shape=(102006,), dtype=object)

# Handling Date column

In [15]:
df['date_parsed'] = pd.to_datetime(
    df['date'],
    errors = 'coerce',
    utc = True
    )

In [16]:
df[['date', 'date_parsed']].head()

                              date               date_parsed
0  Tue, 05 Aug 2008 16:31:02 -0700 2008-08-05 23:31:02+00:00
1  Tue, 05 Aug 2008 18:31:03 -0500 2008-08-05 23:31:03+00:00
2  Tue, 05 Aug 2008 20:28:00 -1200 2008-08-06 08:28:00+00:00
3  Tue, 05 Aug 2008 17:31:20 -0600 2008-08-05 23:31:20+00:00
4  Tue, 05 Aug 2008 19:31:21 -0400 2008-08-05 23:31:21+00:00

In [17]:
df['date_parsed'].isna().sum()

np.int64(4377)

In [18]:
df['year'] = df['date_parsed'].dt.year
df['month'] = df['date_parsed'].dt.month
df['day'] = df['date_parsed'].dt.day
df['hour'] = df['date_parsed'].dt.hour
df['weekday'] = df['date_parsed'].dt.weekday

In [19]:
df['date_missing'] = df['date_parsed'].isna().astype(int)

for col in ['year','month','day','hour','weekday']:
    df[col] = df[col].fillna(df[col].median())

In [20]:
df['date_missing'].unique()

array([0, 1])

In [21]:
df.columns

Index(['Unnamed: 0', 'sender', 'receiver', 'date', 'subject', 'body', 'label',
       'urls', 'date_parsed', 'year', 'month', 'day', 'hour', 'weekday',
       'date_missing'],
      dtype='object')

In [22]:
df[['year', 'month', 'day', 'hour', 'weekday']].isna().sum()

year       0
month      0
day        0
hour       0
weekday    0
dtype: int64

## Senders column analysis

In [23]:
df['sender'].isnull().sum()

np.int64(347)

In [24]:
df['sender_missing'] = df['sender'].isna().astype(int)

In [25]:
df['sender'] = df['sender'].fillna('unknown_sender')

In [26]:
df['sender'].isna().sum()

np.int64(0)

# Handling Reciever column

In [27]:
df['receiver'].isnull().sum()

np.int64(4323)

In [28]:
df['receiver_missing'] = df['receiver'].isna().astype(int)

In [29]:
df['receiver'] = df['receiver'].fillna('unknown_receiver')

# Handling subject and body

In [30]:
df['subject'].isna().sum()

np.int64(1996)